<template>
  <qas-list-view class="container spaced" entity="<%= props.name %>">
    <template v-slot:header>
      <qas-page-header no-breadcrumbs title="Lista de __MUDAR__NOME__">
        <qas-btn hide-mobile-label icon="add" label="Criar nova __MUDAR__NOME__" :to="{ name: '<%= props.createName %>' }" />
      </qas-page-header>
    </template>

    <!-- teste -->

    <template v-slot="{ fields, results }">
      <qas-table-generator :columns="columns" :fields="fields" :results="results" row-key="uuid">
        <template v-slot:body-cell-title="{ row }">
          <div class="text-weight-bold">{{ row.title }}</div>
        </template>

        <template v-slot:body-cell-actions="{ row }">
          <div class="flex no-wrap justify-end q-gutter-x-sm">
            <qas-btn dense flat icon="o_visibility" rounded size="sm" :to="{ name: '<%= props.singleName %>', params: { id: row.uuid } }" />
            <qas-btn dense flat icon="o_edit" rounded size="sm" :to="{ name: '<%= props.editName %>', params: { id: row.uuid } }" />
          </div>
        </template>
      </qas-table-generator>
    </template>

    <template v-slot:empty-results>
      <empty-results-view v-bind="emptyResultsViewProps" />
    </template>
  </qas-list-view>
</template>

<script>
import EmptyResultsView from 'components/EmptyResultsView'

import { screen } from 'mixins'

export default {
  name: '<%= props.listName %>',

  components: {
    EmptyResultsView
  },

  mixins: [screen],

  computed: {
    columns () {
      return [
        // TODO adicionar ou mudar os campos
        'title',
        { align: 'right', name: 'actions' }
      ]
    },

    emptyResultsViewProps () {
      return {
        text: 'Nenhuma __MUDAR__NOME__ encontrada.',
        imageProps: {
          src: '__PATH__TO__YOUR__IMAGE__'
        },
        btnProps: {
          label: 'Criar nova __MUDAR__NOME__',
          icon: 'add',
          flat: true,
          to: { name: '<%= props.createName %>' }
        }
      }
    }
  }
}
</script>

<style lang="scss">
.page-<%= props.name %>-list {}
</style>
