<template>
  <qas-list-view v-model:fields="fields" v-model:results="results" entity="<%= props.name %>">
    <template #header>
      <qas-page-header title="Lista de __MUDAR__NOME__" :use-breadcrumbs="false">
        <qas-btn hide-mobile-label icon="add" label="Criar nova __MUDAR__NOME__" padding="md" :to="{ name: '<%= props.createName %>' }" />
      </qas-page-header>
    </template>

    <template #default>
      <qas-table-generator :columns="columns" :fields="fields" :results="results">
        <template #body-cell-actions="{ row }">
          <div class="flex justify-end no-wrap q-gutter-x-sm">
            <qas-btn dense flat icon="o_visibility" rounded size="sm" :to="{ name: '<%= props.singleName %>', params: { id: row.uuid } }" />
            <qas-btn dense flat icon="o_edit" rounded size="sm" :to="{ name: '<%= props.editName %>', params: { id: row.uuid } }" />
          </div>
        </template>
      </qas-table-generator>
    </template>
  </qas-list-view>
</template>

<script>
export default {
  name: '<%= props.listName %>',

  data () {
    return {
      fields: {},
      results: {}
    }
  },

  computed: {
    columns () {
      return [
        // TODO adicionar ou mudar os campos
        'title',
        { align: 'right', name: 'actions' }
      ]
    }
  }
}
</script>

<style lang="scss">
.page-<%= props.name %>-list {}
</style>
